{% extends "base.html.twig" %}

{% block body %}

        <!-- NavBar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('backoffice_home')  }}">
            <img src="{{ asset('images/LogoridersV1.1.png') }}" alt="" width="100" height="80" class="d-inline-block align-text">
            High Riders |
            </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('backoffice_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('backoffice_spots') }}">Spots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('backoffice_events') }}">Evenements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('backoffice_user_index') }}">Utilisateurs</a>
                </li>
            </ul>
        </div>
    </nav>


            <!-- Main content -->

            <div class="col-8">

                {% block content %}{% endblock %}

            </div>
        </main>

{% endblock %}
