{% extends 'base.html.twig' %}

{% block title %}Hello page Evenements backoffice{% endblock %}

{% block body %}
<main class"container">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1>Les Evenements</h1>
        </div>
    </nav>
    
        <div class="m-4">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Description del'évenement</th>
                    <th>Heures d'ouverture</th>
                    <th>Heures de fermeture</th>
                    <th>Difficulté de l'évenement</th>
                    <th>Date de l'évenement</th>
                    <th>Liens vers site Officiel</th>
                    <th>Prix d'entrée</th>
                    <th>Accessibilité</th>
                    <th>Nbre de Participants</th>
                    <th>Nbre de Like</th>
                    <th>Status</th>
                    <th>Type d'évenement</th>
                   
                </tr>
            </thead>
            <tbody>
        {% for listEvent in events %}
            <tr>
                <td>{{ listEvent.id }}</td>
                <td>{{ listEvent.title }}</td>
                <th> <image src="{{ listEvent.image }}" width="75" > </th>
                <td>{{ listEvent.description }}</td>
                <td>{{ listEvent.openingHours }}</td>
                <td>{{ listEvent.closedHours }}</td>
                <td>{{ listEvent.difficulty }}</td>
                <td>{{ listEvent.dateEvent }}</td>
                <td>{{ listEvent.link }}</td>
                <td>{{ listEvent.price }}</td>
                <td>{{ listEvent.accessibility}}</td>
                <td>{{ listEvent.participationUser }}</td>
                <td>{{ listEvent.eLike }}</td>
                <td>{{ listEvent.status }}</td>
                <td>{{ listEvent.typeEvent }}</td>
               
            
                <td> 
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="" class="btn btn-outline-secondary btn-sm">Modifier</a> 
                    <a href="" class="btn btn-outline-secondary btn-sm">Supprimer</a>
                </div>
                </td>
            </tr>
        {% endfor %}
                <a href="{{ path('backoffice_event_add')  }}" class="btn btn-outline-success btn-sm">Ajouter un nouvel Evenement </a>   
                <a href="{{ path('backoffice_home')  }}" class="btn btn-outline-secondary btn-sm">Retour à l'accueil</a> 

            </div>            
</main>


{% endblock %}
