{% extends 'base.html.twig' %}

{% block title %}Back-Office | Evenements {% endblock %}

{% block body %}
<main class"container m-4">
    <div class="m-4 align-item-center"> 
    <div class="container ">
        <table class="table table-striped table-hover table-bordered align-middle m-4">
            <thead>
                <tr class="table-success text-center">
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Type d'évenement</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
        {% for listEvent in events %}
            <tr>
                <td>{{ listEvent.id }}</td>
                <td>{{ listEvent.title }}</td>
                <th>
                    {% if "http" in listEvent.image %}
                        <image src="{{ listEvent.image }}" width="75" >
                    {% else %}
                        <image src="{{ asset('uploads/' ~ listEvent.image) }}" width="75">
                    {% endif %}
                </th>
                
                <td>{{ listEvent.typeEvent }}</td>

                <td> 
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{{ path('backoffice_events_show', {id:listEvent.id}) }}" class="btn btn-outline-secondary btn-sm">Voir</a> 
                    <a href="{{ path('backoffice_event_delete', {id:listEvent.id}) }}" class="btn btn-outline-secondary btn-sm" onclick="return confirm('Êtes-vous sur de vouloir effectuer cette action ?')">Supprimer</a>
                </div>
                </td>
            </tr>
        {% endfor %}
                <a href="{{ path('backoffice_event_add')  }}" class="btn btn-outline-success btn-sm mb-2">Ajouter un nouvel Evenement </a>   
                <a href="{{ path('backoffice_home')  }}" class="btn btn-outline-secondary btn-sm mb-2 ms-2">Retour à l'accueil</a> 
            </div>
        </table>
    </div>
    </div>            
</main>


{% endblock %}
