{% extends 'base.html.twig' %}

{% block title %}Hello page Evenements backoffice{% endblock %}

{% block body %}
<main class"container">
    <h1>Les Evenements</h1>
        
        <div class="m-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Description del'évenement</th>
                    <th>Heures d'ouverture</th>
                    <th>Heures de fermeture</th>
                    <th>Difficulté de l'évenement</th>
                    <th>Date de l'évenement</th>
                    <th>Liens vers site Officiel</th>
                    <th>Prix d'entrée</th>
                    <th>Accessibilité</th>
                    <th>Nbre de Participants</th>
                    <th>Nbre de Like</th>
                    <th>Status</th>
                    <th>Type d'évenement</th>
                   
                </tr>
            </thead>
            <tbody>
        {% for listEvent in events %}
            <tr>
                <td>{{ listEvent.id }}</td>
                <td>{{ listEvent.title }}</td>
                <th> <image src="{{ listEvent.image }}" width="75" > </th>
                <td>{{ listEvent.description }}</td>
                <td>{{ listEvent.openingHours }}</td>
                <td>{{ listEvent.closedHours }}</td>
                <td>{{ listEvent.difficulty }}</td>
                <td>{{ listEvent.dateEvent }}</td>
                <td>{{ listEvent.link }}</td>
                <td>{{ listEvent.price }}</td>
                <td>{{ listEvent.accessibility}}</td>
                <td>{{ listEvent.participationUser }}</td>
                <td>{{ listEvent.eLike }}</td>
                <td>{{ listEvent.status }}</td>
                <td>{{ listEvent.typeEvent }}</td>
               
            
                <td> 
                <a href="">Editer</a> 
                <a href="">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
                <a href="{{ path('backoffice_event_add')  }}">Ajouter un nouvel Evenement </a> |
                <a href="{{ path('backoffice_home')  }}">Retour à l'accueil</a> 

            </div>            
</main>


{% endblock %}
