
{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<main class='container'>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('backoffice_home')  }}">
            <img src="{{ asset('images/LogoridersV1.1.png') }}" alt="" width="100" height="80" class="d-inline-block align-text">
            High Riders | Mon Profil
            </a>
        </div>
    </nav>
  
    <table class="table">
        <tbody>
            <tr>
                <th>Avatar</th>
                <td>{{ user.avatar }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Mon Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Ma Presentation</th>
                <td>{{ user.presentation }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ user.departement }}</td>
            </tr>
            <tr>
                <th>Mon Equipement</th>
                <td>{{ user.equipement }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('backoffice_home') }}" class="btn btn-outline-secondary btn-sm mt-2">Retour à l'accueil</a>

    <a href="{{ path('backoffice_user_edit', {'id': user.id}) }}" class="btn btn-outline-secondary btn-sm mt-2">Modifier mon Profil</a>

    {{ include('backoffice/user/_delete_form.html.twig') }}


</main>
    
{% endblock %}
