{% extends 'base.html.twig' %}

{% block title %}Page Spots{% endblock %}

{% block body %}

<main class"container">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <h1>Les Spots</h1>
        </div>
     </nav>
     
            <div class="m-4">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Description du spot</th>
                            <th>Adresse</th>
                            <th>Ville</th>
                            <th>Heures d'ouverture</th>
                            <th>Heures de fermeture</th>
                            <th>Ouverture saison</th>
                            <th>nbres de Riders</th>
                            <th>Difficulté du site</th>
                            <th>Liens vers site Officiel</th>
                            <th>Prix d'entrée</th>
                            <th>Accessibilité</th>
                            <th>Nbre de Like/th>
                            <th>Denivelé + </th>
                            <th>Denivelé - </th>
                            <th>traknumber</th>
                            <th>Type de Spot</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for listspot in spots %}
                    <tr>
                        <td>{{ listspot.id }}</td>
                        <td>{{ listspot.title }}</td>
                        <th> <image src="{{ listspot.image }}" width="75" > </th>
                        <td>{{ listspot.description | u.truncate(100,'...') }}</td>
                        <td>{{ listspot.address }}</td>
                        <td>{{ listspot.city }}</td>
                        <td>{{ listspot.openingHours }}</td>
                        <td>{{ listspot.closedHours }}</td>
                        <td>{{ listspot.saisonDate }}</td>
                        <td>{{ listspot.numbersUsers }}</td>
                        <td>{{ listspot.difficulty }}</td>
                        <td>{{ listspot.link }}</td>
                        <td>{{ listspot.price }}</td>
                        <td>{{ listspot.accessibility}}</td>
                        <td>{{ listspot.sLike }}</td>
                        <td>{{ listspot.dPositif }}</td>
                        <td>{{ listspot.dNegatif }}</td>
                        <td>{{ listspot.trackNumber	 }}</td>
                        <td>{{ listspot.typeSpot	 }}</td>
                    
                        <td> 
                        <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="{{ path('backoffice_spot_edit', {id:listspot.id}) }}"class="btn btn-outline-secondary btn-sm">Modifier</a> 
                        <a href="{{ path('backoffice_spot_delete', {id:listspot.id}) }}" class="btn btn-outline-secondary btn-sm" onclick="return confirm('Êtes-vous sur de vouloir effectuer cette action ?')" >Supprimer</a>
                        </div>
                        </td>
                    </tr>
                {% endfor %}
                    <div class="d-grid gap-2 d-md-block">
                        <a href="{{ path('backoffice_spot_add')  }}" class="btn btn-outline-success btn-sm">Ajouter un nouveau spot </a> 
                        <a href="{{ path('backoffice_home')  }}" class="btn btn-outline-secondary btn-sm">Retour à l'accueil</a> 
                    </div>
                </table>
            </div>            
        </main>


{% endblock %}
