{% extends 'base.html.twig' %}

{% block title %}Hello page Spot Backoffice{% endblock %}

{% block body %}
<main class="container">
    <h1>Spot</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ spot.id }}</td>
                    </tr>  
                    <tr>
                        <th>Titre</th>
                        <td>{{ spot.title }}</td>
                    </tr>  
                     <tr>
                        <th>Image</th>
                        <th> <image src="{{ spot.image }}" width="75" > </th>
                    </tr>          
                    <tr>
                        <th>Description</th>
                        <td>{{ spot.description }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ spot.address }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ spot.city }}</td>
                    </tr>
                    <tr>
                        <th>Horaire d'ouverture</th>
                        <td>{{ spot.openingHours }}</td>
                    </tr>
                    <tr>
                        <th>Horaire de fermeture</th>
                        <td>{{ spot.closedHours }}</td>
                    </tr>
                     <tr>
                        <th>Ouverture Saison</th>
                        <td>{{ spot.saisonDate }}</td>
                    </tr>
                     <tr>
                        <th>Nbre de Riders</th>
                        <td>{{ spot.numbersUsers }}</td>
                    </tr>
                     <tr>
                        <th>Difficultées</th>
                        <td>{{ spot.difficulty }}</td>
                    </tr>
                    <tr>
                        <th>Lien site</th>
                        <td>{{ spot.link }}</td>
                    </tr>
                    <tr>
                        <th>Prix d'entrée</th>
                        <td>{{ spot.price }}</td>
                    </tr>
                    <tr>
                        <th>Accessibilités</th>
                        <td>{{ spot.accessibility }}</td>
                    </tr>
                    <tr>
                        <th>Nbre de Like</th>
                        <td>{{ spot.sLike }}</td>
                    </tr>
                     <tr>
                        <th>Denivelé + </th>
                        <td>{{ spot.dPositif }}</td>
                    </tr>
                     <tr>
                        <th>Denivelé - </th>
                        <td>{{ spot.dNegatif }}</td>
                    </tr>
                     <tr>
                        <th>track number</th>
                        <td>{{ spot.trackNumber }}</td>
                    </tr>
                     <tr>
                        <th>Type de spot</th>
                        <td>{{ spot.typeSpot }}</td>
                    </tr>

                </tbody>
            </table>  


</main>
{% endblock %}
