{% extends 'base.html.twig' %}

{% block title %}Hello page user backoffice{% endblock %}

{% block body %}
<main class="container">
    <h1>Les utilisateurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Avatar</th>
                    <th>Pseudo</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Présentation</th>
                    <th>Email</th>
                    <th>Mot de Passe</th>
                    <th>ville</th>
                    <th>Département</th>
                    <th>Equipement</th>
                </tr>
            </thead>
            <tbody>
        {% for user in users %}
           <tr>
                <td>{{ user.id }}</td>
                <th> <image src="{{ user.avatar }}" width="75" > </th>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.presentation }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.departement }}</td>
                <td>{{ user.equipement }}</td>
                
                <td>
                   

            <a href="">Create new</a>

        {% endfor %}




</main>
{% endblock %}
