{% extends 'base.html.twig' %}

{% block title %}Back-Office | Utilisateur{% endblock %}

{% block body %}
<main class='container'>
     <section class="py-5" id="user_profil">

        <a class="text-success" href="{{ path('backoffice_user_index')  }}"> <- Retour à la liste des utilisateurs</a> 
        <div class="container px-4 px-lg-5 my-5 ">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-6 align-item-top">
                    <div class = "d-flex flex-column lh-1">

                         {% if user.avatar == null %}
                         <div class="p-2 bd-highlight border"><img class="card-img-top mb-5 mb-md-0" src="https://image.freepik.com/photos-gratuite/lane-pour-velo-route_1232-2335.jpg" alt="..." /></div>
                         {% else %}
                         <div class="p-2 bd-highlight border"><img class="card-img-top mb-5 mb-md-0" src="{{ user.avatar }}" alt="..." /></div>
                         {% endif %}

                        <div class="container border" >
                            <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Prénom :</h6> {{ user.firstname }}</div>
                            <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Nom :</h6> {{ user.lastname }}</div>
                            <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Email :</h6> {{ user.email }}</div>
                            <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Ville :</h6> {{ user.city }}</div>
                            <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Département :</h6> {{ user.departement }}</div>
                            <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Equipement :</h6> {{ user.equipement }}</div>
                           
                        </div>
                        </div>
                </div>

                <div class="col-md-6">
                    <div class=" container align-items-center">
                        <div class="small mb-1 badge bg-success">Id : {{ user.id }} </div>
                        <h1 class="display-5 fw-bolder">{{ user.pseudo}}</h1>
                        <div class="fs-5 mb-5">
                            <p class="fst-italic text-secondary">créé le : {{ user.createdAt |date ("d/m/Y H:i" )}}</p>
                           
                        </div>
                        
                        <p class="lead">{{ user.presentation }}</p>
                        <div class="d-flex">
                            
                            <a href="{{ path('backoffice_user_edit', {id:user.id}) }}" class="btn btn-outline-success flex-shrink-0" type="button">
                                Modifier
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br class="m-1">

    <div class="row">
        <div class="col-sm-6 " id="user_events">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title text-success">Evenements créés :</h5>
                    {% for events in user.events %}
                        <div class=" container align-items-center">
                            <a href="{{ path('backoffice_events_show', {id:events.id}) }}" class="text-dark " type="link">
                                                {{events.title}}
                                            </a>
                        </div>
                        
                    {% endfor  %}
            </div>
            </div>
        </div>
        <div class="col-sm-6" id="user_spots">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title text-success">Spots créés :</h5>
                    {% for spots in user.spots %}
                        <div class=" container align-items-center">
                        <a href="{{ path('backoffice_spots_show', {id:spots.id}) }}" class="text-dark " type="link">
                                                {{spots.title}}
                                            </a>
                        </div>
                    {% endfor  %}
            </div>
            </div>
        </div>
    </div>

   
    <div class="m-4">
        <a href="{{ path('backoffice_user_index') }}"class="btn btn-outline-secondary btn-sm mt-2">Retour à la liste des Utilisateurs</a>

        <a href="{{ path('backoffice_user_edit', {'id': user.id}) }}"class="btn btn-outline-secondary btn-sm mt-2">Modifier</a>
    
    </div>

    <br class="m-4">
</main>
{% endblock %}
