{% extends 'base.html.twig' %}

{% block title %}Back-Office | Contact {% endblock %}

{% block body %}

<main class"container m-4">
    <div class="m-4 align-item-center"> 
    <div class="container ">
        <table class="table table-striped table-hover table-bordered align-middle m-4">
            <thead>
                <tr class="table-success text-center">
                    <th>Date d'envoie du message</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    {#<th>Adresse Mail</th>#}
                    {#<th>Messages</th>#}
                    
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
        {% for contactMessage in ContactUs %}
            <tr>
            <tr class="text-center">
                <td>{{ contactMessage.createdAt|date('Y-m-d H:i') }}</td>
                <td>{{ contactMessage.firstname }}</td>
                <td>{{ contactMessage.lastname }}</td>
                {#<td>{{ contactMessage.email }}</td>#}
                {#<td>{{ contactMessage.content | u.truncate(200,'...') }}</td>#}
                
                <td> 
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="{{ path('backoffice_contact_show',{id:contactMessage.id}) }}"class="btn btn-outline-secondary btn-sm">Voir</a> 
                        <a href="{{ path('backoffice_contact_delete', {id:contactMessage.id}) }}" class="btn btn-outline-secondary btn-sm" onclick="return confirm('Êtes-vous sur de vouloir effectuer cette action ?')" >Supprimer</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
            <div class="d-grid gap-2 d-md-block mx-4">
                <a href="{{ path('backoffice_home')  }}" class="btn btn-outline-secondary btn-sm mb-2">Retour à l'accueil</a> 
            </div>
        </table>
    </div>  
    </div>           
</main>


{% endblock %}
