{% extends 'base.html.twig' %}

{% block title %}Back-Office | Contactez-nous{% endblock %}

{% block body %}

<main class='container'>
  
    <section class="py-5">
            <a class="text-success" href="{{ path('backoffice_contact') }}"> <- Retour aux messages</a>
            <div class="shadow container px-4 px-lg-5 my-5 border rounded pt-5">
                
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-md-6 align-item-top">
                            <div class = "d-flex flex-column lh-1">
                                
                                <div class="container border" >
                                    <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Prénom :</h6> {{ contact.firstname}}</div>
                                    <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">Nom de Famille :</h6> {{ contact.lastname }}</div>
                                    <div class="p-2 bd-highlight"><h6 class="fw-bold text-success">E-Mail :</h6> {{ contact.email }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class=" container align-items-center border mb-5">
                                <div class="small mb-1 badge bg-success mt-1">New</div>
                                <h1 class="display-5 fw-bolder">Message</h1>
                                <div class="fs-5 mb-5">
                                    <p class="fst-italic text-secondary">envoyé le : {{ contact.createdAt |date ("m/d/Y H:i" )}}</p>
                                </div>
                                
                                <p class="lead">{{ contact.content }}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    

</main>
    
{% endblock %}